/* fonts */
@font-face {
  font-family: 'Spartan';
  src: url('/fonts/Spartan-Regular.woff2') format('woff2'),
      url('/fonts/Spartan-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spartan';
  src: url('/fonts/Spartan-Bold.woff2') format('woff2'),
      url('/fonts/Spartan-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Antonio';
  src: url('/fonts/Antonio-Medium.woff2') format('woff2'),
      url('/fonts/Antonio-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spartan';
  src: url('/fonts/Spartan-Medium.woff2') format('woff2'),
      url('/fonts/Spartan-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* variable */
:root {
 /* color  */
  --text-color: #FFFFFF;
  --bg-color: #070724;
  --additional-color: #38384F;
  --additional-color-2: #838391;
  --mercury: #419EBB;
  --venus: #EDA249;
  --earth: #6D2ED5;
  --mars: #D14C32;
  --jupiter: #D83A34;
  --saturn: #CD5120;
  --uranus: #1EC1A2;
  --neptune: #2D68F0;

  /* fonts */
  --text-font: "Spartan", "Arial", sans-serif;
  --heading-font: "Antonio", "Arial", sans-serif;

}
/* Common styles */
html{
  box-sizing: border-box;
}
*, *::after, *::before{
  box-sizing: inherit;
}
body{
  padding: 0;
  margin: 0;
  font-family: var(--text-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: var(--text-color);
  background-image: url(../img/bg-img.png);
  background-size: cover;
  background-repeat: no-repeat;

}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img{
  max-width: 100%;
  display: block;
  object-fit: contain;
}
.container {
  width: 100%;
  max-width: 1300px;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER  */
.site-header{
  margin-bottom: 125px;
}
.site-nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.site-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.site-logo {
  margin-right: 25px;
}
.site-nav__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.site-nav__link {
  padding: 5px 0;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 1px;
  color: var(--text-color);
  text-decoration: none;
  text-transform: uppercase;
}
.site-nav__link::before, .site-nav__link::after {
  display: inline-block;
  opacity: 0;
  transition: transform 0.3s, opacity 0.2s;
}
.site-nav__link::before {
  content: '[';
  margin-right: 16px;
  transform: translateX(16px);
}
.site-nav__link::after {
  content: ']';
  margin-left: 16px;
  transform: translateX(-16px);
}
.site-nav__link:hover::before, .site-nav__link:hover::after, .site-nav__link:focus::before, .site-nav__link:focus::after {
  opacity: 1;
  transform: translateX(0);
}
.site-nav__link:focus {
  color: #CD5120;
}

/* planet */
.planet-info {
  display: flex;
  margin-bottom: 80px;
}
.planet-img {
  flex-grow: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.planet-desc {
  width: 350px;
}
.planet-desc__title {
  margin-top: 0;
  margin-bottom: 23px;
  font-family: var(--heading-font);
  font-size: 80px;
  line-height: 103px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.planet-desc__info {
  margin-top: 0;
  margin-bottom: 24px;
  opacity: 0.9;
}
.planet-desc__source {
  opacity: 0.5;
  margin-bottom: 39px;
}
.planet-desc__source__link {
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
}
.planet-desc__source__link::after{
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  margin-left: 10px;
  background-image: url(../img/Shape.png);
  vertical-align: middle;
}
.planet-feature{
  display: flex;
  flex-direction: column;
}
.planet-feature__button {
  position: relative;
  margin-bottom: 16px;
  padding: 12px 25px;
  font-weight: bold;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 2.57143px;
  text-transform: uppercase;
  text-align: left;
  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  cursor: pointer;
}
.planet-feature__button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background-color: #D14C32;
  z-index: -1;
  transition: all 0.3s;
}
.planet-feature__button:hover::before{
  height: 100%;
}
.planet-feature__index {
  opacity: 0.5;
  margin-right: 25px;
}

/* planet-feature  */
.planet-features {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 56px;
  list-style-type: none;
}
.planet-feature__feature {
  width: 255px;
  padding: 25px 23px;
  border: 1px solid rgba(255, 255, 255,0.2);
}
.planet-feature__feature:not(:first-child){
  margin-left: 30px;
}
.planet-feature__name {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 1px;
  opacity: 0.5;
  text-transform: uppercase;
}
.planet-feature__data {
  font-family: var(--heading-font);
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -1.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
  .site-nav-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .site-logo {
    margin-right: 0;
    margin-bottom: 35px;
  }
  .site-nav__list {
    width: 100%;
    justify-content: center;
  }

  /* planet  */
  .planet-info {
    flex-wrap: wrap;
  }
  .planet-img {
    width: 100%;
    margin-bottom: 120px;
  }
  .planet-desc {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .planet-desc__data{
    width: 50%;
  }
  .planet-feature {
    width: 40%;
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .site-nav__list {
    justify-content: space-between;
  }
  .site-nav__link::before {
    margin-right: 10px;
    transform: translateX(10px);
  }
  .site-nav__link::after {
    margin-left: 10px;
    transform: translateX(-10px);
  }

  /* planet  */
  .planet-desc__title {
    font-size: 48px;
    line-height: 62px;
  }
  .planet-feature__button {
    font-size: 9px;
    line-height: 25px;  
  }
  .planet-feature__name {
    font-size: 8px;
    line-height: 16px;
  }
  .planet-feature__data {
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.9px;
  }
}
@media screen and (max-width: 800px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .site-nav__link::before {
    margin-right: 6px;
    transform: translateX(6px);
  }
  .site-nav__link::after {
    margin-left: 6px;
    transform: translateX(-6px);
  }
  /* planet */
  .planet-img {
    max-width: 369px;
    margin-left: auto;
    margin-right: auto;
  }
  .planet-features {
    justify-content: space-between;
  }
  .planet-desc__data{
    width: 53%;
  }
  .planet-feature {
    width: 42%;
  }
  .planet-feature__feature {
    max-width: 164px;
    padding: 15px;
  }
  .planet-feature__feature:not(:first-child){
    margin-left: 5px;
  }
}